body, html {
    height: 100%;
}

h1 h2 h3 h4, ul > li {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 50px;
}

.home-background {
    background: url("../images/p1.jpg");
    min-height: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#banner {
    max-width: 80%;
    display: inline-block;
}

#ad {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 0;
    text-align: center;
}

.navbar-brand p {
    padding-top: 15px;
    padding-bottom: 15px;
}

text-decoration = max-height

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    object-fit: cover;
    max-height: 400px;
    min-width: 100%;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(122, 130, 136, 0.9)!important;
}

.panel-transparent .panel-body {
    background: rgba(46, 51, 56, 0.6)!important;
}

.panel-transparent .panel-footer {
    background: rgba(46, 51, 56, 0.6)!important;
}

.panel h3 {
    color: white;
}

.panel label {
    color: white;
}

.navbar-default {
    background-color: #343434;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 32px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: lightgray;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.navbar-brand {
    padding-top: 0;
    margin: 0;
}

.navbar-brand img {
    padding-top: 5px;
    max-height: 120%;
}

.l2-heading {
    text-align: center;
    font-size: 18px;
}

.table-responsive
{
    overflow-x: auto;
}

.main-heading {
    font-size: 48px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    text-shadow: 4px 4px lightgray;
    color: #00477e;
    padding-bottom: 8px;
    border-bottom: 4px double lightgray;
}

h3, label {
    color: dimgray;
}

#qualification {
    color: #66676d;
}

#qualification label {
    text-align: right;
    color: #4b4b4b;
    font-size: 16px;
}

.jumbotron {
    padding-top: 5px;
}

.form-section-title {
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.btn-container {
    padding-top: 24px;
}

.red {
    color: red;
}

.btn-quote {
    font-size: 24px;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 10px;
    width: 30%;
    height: 60px;
}

@media all and (max-width: 991px) {
    .btn-quote {
        width: 100%;
        display: block;
    }
    #qualification label {
        font-size: 14px;
        padding: 5px;
    }
    .col-container .col-md-3 .card {
        margin-top: 15px;
    }
    .card img {
        display: inline-block;
        text-align: center;
    }
}



@media screen and (max-width: 992px) {
    .text-alignment {
        text-align: center;
    }
    .copyright-alignment {
        text-align: center;
    }
    #qualify-form .input-group, #qualify-form .form-group {
        margin: 0;
    }
    #welcome {
        font-size: 16px;
        font-weight: 800;
    }
}

.contact-info i {
    margin-bottom: 5px;
}

.pm-table {
    margin-top: 30px;
}

.heading-schedule {
    margin-bottom: 35px;
    text-align: center;
    color: dimgray;
    border: 1px solid lightgray;
}

th {
    color: dimgray;
    text-align: center;
    height: 65px;
    font-size: 18px;
    word-wrap: normal;
}

td {
    text-align: center;
}

.borderless tbody tr td, .borderless thead tr td {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: none;
}

#chart-section {
    margin-top: 30px;
}

canvas {
    margin-top: 30px;
}

.right-chart {
    padding-top: 35px;
}

.p-label {
    color: #FF6384;
}

.i-label {
    color: #36A2EB;
}

.f-label {
    color: #FFCE56;
}

.t-label {
    color: black;
}

.alert-link {
    color: white;
    background-color: darkorange;
    padding: 6px;
    border-radius: 5px;
}

.qualified-link {
    color: white;
    background-color: darkcyan;
    padding: 6px;
    border-radius: 5px;
}

.alert-link:hover, .qualified-link:hover {
    text-decoration: none;
}

.result {
    margin-top: 20px;
}

.highlight {
    color: orangered;
}

/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f3f4f5;
}
/* .text-center in tables */
table.text-center td,
table.text-center th {
  text-align: center;
}

.summary-table {
    text-align: center;
}

.no-underline {
    text-decoration: none;
}
a.no-underline:hover {
    text-decoration: none;
}

a.selectedLink:hover {
    cursor: pointer;
    cursor: hand;
}

.highlight-blue {
    font-weight: 600;
    color: forestgreen;
}

.highlight-red {
    font-weight: 600;
    color: red;
}

.next-btn {
    padding: 10px;
    margin-top: 25px;
}

.list-group > .list-group-item {
    border: 0 none;
    font-size: 14px;
    font-weight: 600;
}

.heading-bold {
    font-weight: 800;
}

.lb {
    margin-bottom: 30px;
}

.font-size-16 {
    font-size: 18px;
}

#result {
    margin-bottom: 8px;
    margin-top: 8px;
}

.control-label {
    color: black;
    font-size: 18px;
    font-weight: 200;
}

.heading-style1 {
    font-weight: 600;
}

.heading-style2 {
    font-weight: 600;
    margin-bottom: 50px;
}

.heading-style3 {
    color: #2e3d49;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-style4 {
    color: dimgray;
    font-weight: 800px;
    border-bottom: 4px double lightgray;
}

.font-style1 {
    font-size: 18px;
    font-weight: 800;
}

footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f0e9ee;
    margin-bottom: 0;
}

#about {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#contactinfo {
    color: white;
    background-color:#874840;
    padding: 40px;
    margin-bottom: 0;
}

#contactinfo p {
    font-size: 14px;
}

#contactinfo a {
    font-weight: 600;
    font-size: 14px;
    display: block;
}

#contactinfo h4 {
    padding-bottom: 2px;
    border-bottom: 1px dotted lightgray;
}

#confirm-page {
    height: 50%;
    padding-top: 20px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: dimgray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

#getquote {
    font-weight: 800;
}

#btn-extra-options {
    display: block;
}

#btn1 {
    height: 50px;
    font-size: 22px;
    font-weight: 800;
}

#map {
    width: 100%;
    height: 300px
}

.vertical-menu {
    width: 100%; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4b9ddc; /* Add a green color to the "active/current" link */
    color: white;
}

.tool-heading {
    border-bottom: 1px dotted lightgray;
}

#goto a {
    color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.card-heading {
    background: #F2994A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F2994A , #F2C94C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F2994A , #F2C94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: 10px;
}

.card-heading2 {
    background: #007991; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #007991 , #78ffd6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #007991 , #78ffd6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: 10px;
}

.card-heading h3, .card-heading2 h3 {
    text-align: center;
    color: black;
}

.heading {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px dotted lightgray;
}

.col-container .col-md-3 .card {
    padding-top: 10px;
}

@media screen and (min-width: 992px) {
    .text-alignment {
        text-align: right;
    }
    .copyright-alignment {
        text-align: left;
    }
    #welcome {
        font-size: 24px;
        font-weight: 800;
    }
    .card-height {
        height: 435px;
    }
}

.bg-1 {
    background-color: rgba(243,168,81, 0.5);
}

.bg-2 {
    background-color: rgba(51, 213,197, 0.5);
}

.bg-3 {
    background-color: rgba(225, 95, 133, 0.2);
}
.bg-4 {
    background-color: rgba(225, 95, 133, 0.5);
}
