html body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

#section1 {
    height: 80%;

}

.home-background {
    background: url("../images/home.jpg") no-repeat center center fixed;
    background-size: auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background: rgba(122, 130, 136, 0.9)!important;
}

.panel-transparent .panel-body {
    background: rgba(46, 51, 56, 0.6)!important;
}

.panel-transparent .panel-footer {
    background: rgba(46, 51, 56, 0.6)!important;
}

.panel h3 {
    color: white;
}

.panel label {
    color: white;
}

.navbar-default {
    background-color: #343434;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 32px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: lightgray;
}

.hvr-underline-from-center {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
}

.hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background:	#646e83;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a0333a;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.navbar-brand {
    padding-top: 0;
    margin: 0;
}

.navbar-brand img {
    padding-top: 5px;
    max-height: 120%;
}

.l2-heading {
    text-align: center;
    font-size: 18px;
}

.table-responsive
{
    overflow-x: auto;
}

.main-heading {
    font-size: 48px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    text-shadow: 4px 4px lightgray;
    color: #00477e;
    padding-bottom: 8px;
    border-bottom: 4px double lightgray;
}

h3, label {
    color: dimgray;
}

.jumbotron {
    padding-top: 5px;
}

.form-section-title {
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.btn-container {
    text-align: center;
    padding-top: 7px;
}

.red {
    color: red;
}

.btn-quote {
    font-size: 18px;
    width: 100%;
    height: 50px;
    background: orangered;
    color: white;
}

.pm-table {
    margin-top: 30px;
}

.heading-schedule {
    margin-bottom: 35px;
    text-align: center;
    color: dimgray;
    border: 1px solid lightgray;
}

th {
    color: dimgray;
    text-align: center;
    height: 65px;
    font-size: 18px;
    word-wrap: normal;
}

td {
    text-align: center;
}

.borderless tbody tr td, .borderless thead tr td {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: none;
}

#chart-section {
    margin-top: 30px;
}

canvas {
    margin-top: 30px;
}

.right-chart {
    padding-top: 35px;
}

.p-label {
    color: #FF6384;
}

.i-label {
    color: #36A2EB;
}

.f-label {
    color: #FFCE56;
}

.t-label {
    color: black;
}

.alert-link {
    color: white;
    background-color: darkorange;
    padding: 6px;
    border-radius: 5px;
}

.qualified-link {
    color: white;
    background-color: darkcyan;
    padding: 6px;
    border-radius: 5px;
}

.alert-link:hover, .qualified-link:hover {
    text-decoration: none;
}

.result {
    margin-top: 20px;
}

/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f3f4f5;
}
/* .text-center in tables */
table.text-center td,
table.text-center th {
  text-align: center;
}

.summary-table {
    text-align: center;
}

.no-underline {
    text-decoration: none;
}
a.no-underline:hover {
    text-decoration: none;
}

a.selectedLink:hover {
    cursor: pointer;
    cursor: hand;
}

.highlight-blue {
    font-weight: 600;
    color: forestgreen;
}

.highlight-red {
    font-weight: 600;
    color: red;
}

.next-btn {
    padding: 10px;
    margin-top: 25px;
}

.list-group > .list-group-item {
    border: 0 none;
    font-size: 14px;
    font-weight: 600;
}

.heading-bold {
    font-weight: 800;
}

.lb {
    margin-bottom: 30px;
}

.font-size-16 {
    font-size: 18px;
}

.text-orange {
    color: rgb(228, 107, 19);
    font-weight: 500;
}

#result {
    margin-bottom: 8px;
    margin-top: 8px;
}

.control-label {
    color: black;
    font-size: 18px;
    font-weight: 200;
}

.heading-style1 {
    font-weight: 600;
}

.heading-style2 {
    font-weight: 600;
    margin-bottom: 50px;
}

.heading-style3 {
    color: orangered;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-style4 {
    color: dimgray;
    font-weight: 800px;
    border-bottom: 4px double lightgray;
}

.font-style1 {
    font-size: 18px;
}

footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f0e9ee;
    margin-bottom: 0;
}

#about {
    margin-bottom: 40px;
}

#contactinfo {
    color: white;
    background-color:#874840;
    padding: 40px;
    margin-bottom: 0;
}

#contactinfo p {
    font-size: 14px;
}

#contactinfo a {
    font-weight: 600;
    font-size: 14px;
    display: block;
}

#contactinfo h4 {
    padding-bottom: 2px;
    border-bottom: 1px dotted lightgray;
}

#confirm-page {
    height: 50%;
    padding-top: 20px;
}
