<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="../js/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="https://use.fontawesome.com/409e734741.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pageNavbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"><p id="welcome">
                         <span style="color:skyblue">Welcome to</span><span style="color:yellow"> iLoanNow.com</span></p></a>
                </div>
                <div class="collapse navbar-collapse" id="pageNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html" class="hvr-underline-reveal">Home</a></li>
                        <li><a href="quote.html" class="hvr-underline-reveal">Get Quote</a></li>
                        <li><a href="qualification.html" class="hvr-underline-reveal">Qualification</a></li>
                        <li><a href="loan-application.html" class="hvr-underline-reveal">Apply</a></li>
                        <li><a href="contact.html" class="hvr-underline-reveal">Contact</a></li>
                    </ul>
                </div>
              </div>
         </div>
    </nav>
        <div class="container" style="margin-top:20px; margin-bottom:80px;">
            <form method="post" action="../php/contact.php">
                <h1 class="form-section-title heading-bold heading-style4">Contact Loan Originator</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center heading-bold lb">Your Contact Information</h3>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="firstname">First Name <span class="red">*</span></label>
                                <input class="form-control" id="firstname" name="firstname" placeholder="First Name" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="middlename">Middle Name</label>
                                <input class="form-control" id="middlename" name="middlename" placeholder="Middle Name" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="lastname">Last Name <span class="red">*</span></label>
                                <input class="form-control" id="lastname" name="lastname" placeholder="Last Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="email">Email <span class="red">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    <input class="form-control" id="email" name="email" placeholder="Your Email" />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="phone">Phone <span class="red">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input class="form-control" id="phone" name="phone" placeholder="Your Phone Number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="message">What You'd Like to Ask Us?</label>
                                <textarea class="form-control" rows="8" id="message" name="message" placeholder="Your questions here."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center heading-bold lb">Loan Details</h3>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="propertyvalue">Property Value</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input class="form-control" id="propertyvalue" name="propertyvalue" />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="loanamount">Loan Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input class="form-control" id="loanamount" name="loanamount" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="propertytype">Property Type</label>
                                <select class="form-control" id="propertytype" name="propertytype">
                                    <option value="single">Single Family Residence</option>
                                    <option value="townhouse">Townhouse</option>
                                    <option value="condo">Condominium</option>
                                    <option value="duplex">Duplex</option>
                                    <option value="triplex">Triplex</option>
                                    <option value="fourplex">Fourplex</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="occupancy">Occupancy</label>
                                <select class="form-control" id="occupancy" name="occupancy">
                                    <option>Owner Occupied</option>
                                    <option>Second Home</option>
                                    <option>Investment/ Rental</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="loanpurpose">Loan Purpose</label>
                                <select class="form-control" id="loanpurpose" name="loanpurpose">
                                    <option value="refinance">Refinance - Lower Rate/Payment</option>
                                    <option value="cashout">Refinance - Cash Out</option>
                                    <option selected value="purchase">Purchase</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="impound">Impound</label>
                                <select class="form-control" id="impound" name="impound">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="loanterm">Loan Term</label>
                                <select class="form-control" id="loanterm" name="loanterm">
                                    <option>30-Year Fixed</option>
                                    <option>25-Year Fixed</option>
                                    <option>20-Year Fixed</option>
                                    <option>15-Year Fixed</option>
                                    <option>10-Year Fixed</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="state">State</label>
                                <input class="form-control" id="state" name="state" />
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" name="submit" value="submit" class="btn btn-primary"><i class="fa fa-send"> Send</i></button>
            </form>
        </div>

        <div class="container" style="margin-bottom:60px;">
        <h3 class="form-section-title heading-bold heading-style4">Contact Us</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>TD Lending Inc.</h4>
                <p>
                    <strong>Address:</strong> 13833 Beach Boulevard,
                    Westminster, California  92683
                </p>
                <p>
                    <strong>Phone:</strong> 714-222-2229 | 714-890-9000 | <strong>Fax:</strong> 714-895-2220<br />
                    <strong>Email: </strong> <a href="mailto:thomasdao@yahoo.com" target="_blank">thomasdao@iloannow.com</a>
                </p>
                <p>
                    <i>Contact TD Lending Inc. today for inquiries, information, and assistance on your loan.
                    Your satisfaction is our highest priority. Please call and speak with a representative about any comments, concerns you may have.
                    Or you can fill out the contact form above and we will be sure to help you with all your real estate needs and questions.
                    Thank you.</i>
                </p>
            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- Contact section -->
   <div class="jumbotron" id="contactinfo">
       <div class="row">
           <div class="col-md-3">
               <h4>Contact Us</h4>
               <p class="contact-info">
                    <i class="fa fa-phone"> Phone: (714) 222-2229</i><br />
                    <i class="fa fa-phone"> Phone: (714) 890-9000</i><br />
                    <i class="fa fa-fax"> Fax: (714) 895-2220</i> <br />
                    <i class="fa fa-envelope-o"> thomas.dao@tdlendinginc.com</i>
               </p>
           </div>
           <div class="col-md-3">
               <h4>Locations</h4>
               <p>
                   TD Lending Inc.<br />
                   A Division of Southland Mortgage Group<br />
                   13833 Beach Boulevard,
                    Westminster, CA 92683
               </p>
           </div>
           <div class="col-md-3">
               <h4>About Us</h4>
               <p>
                   <strong>CalBRE #</strong> 00958467 | <strong>NMLS #</strong> 329329
               </p>
               <p>
                   iLoanNow.com is your first choice for your real estate needs,
                   whether you're making your first home purchase or refinancing an
                   existing mortgage. We offer the best mortgage solutions for real
                   estate investors. Grow your real estate portfolio with us. Fast,
                   simple process. Competitive rates.
               </p>
           </div>
           <div class="col-md-3">
               <h4>Go to</h4>
               <p id="goto">
                   <a href="index.html">Home</a>
                   <a href="templates/quote.html">Get Quote</a>
                   <a href="templates/qualification.html">Qualification</a>
                   <a href="templates/loan-application.html">Apply</a>
                   <a href="templates/contact.html">Contact</a>
               </p>
           </div>
       </div>
   </div>
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-md-6 copyright-alignment">
                   Copyright <i class="fa fa-copyright"></i> iLoanNow.com
               </div>
               <div class="col-md-6 text-alignment social-icons">
                   <a href="https://www.facebook.com/SuperiorREgroup/" target="_blank" title="www.facebook.com/SuperiorREgroup" style="text-decoration:none">
                       <i class="fa fa-facebook-square fa-2x" style="color:#3b5998"></i>
                   </a>
                   <a href="https://www.youtube.com/watch?v=H_B2raO20wE" target="_blank" style="text-decoration:none">
                       <i class="fa fa-youtube-square fa-2x" style="color:red"></i>
                   </a>
                   <a href="http://www.yelp.com/biz/superior-real-estate-group-westminster" target="_blank" style="text-decoration:none">
                       <i class="fa fa-yelp fa-2x" style="color:red;"></i>
                   </a>
                   <a href="#" target="_blank" style="text-decoration:none">
                       <i class="fa fa-twitter-square fa-2x" style="color:skyblue"></i>
                   </a>
                   <a href="mailto:thomas_dao@yahoo.com" target="_blank" style="text-decoration:none">
                       <i class="fa fa-google-plus-square fa-2x" style="color:red"></i>
                   </a>
                   <a href="#" target="_blank">
                       <i class="fa fa-linkedin-square fa-2x" style="color:#3b5998" style="text-decoration:none"></i>
                   </a>
               </div>
           </div>
       </div>
   </footer>

    <!-- validate.js -->
    <script src="../js/validate.min.js"></script>
    <script src="../js/validateFunctions.js"></script>
    <!-- autoNumeric.js -->
    <script src="https://cdn.jsdelivr.net/autonumeric/2.0.0/autoNumeric.min.js"></script>
    <!-- mask.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script src="../js/gmap.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxL8qkUOMhWz7ajinm7xXhSjFCvX5zc2E&callback=initMap">
    </script>
    <script>
        $(document).ready(function() {
            validateInputs2();
            $('#phone').mask('(000) 000-0000');
            $('#loanamount').autoNumeric('init');
            $('#propertyvalue').autoNumeric('init');
        });
    </script>
</body>
</html>
