<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Loan Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="../js/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="https://use.fontawesome.com/409e734741.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pageNavbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"><p id="welcome">
                         <span style="color:skyblue">Welcome to</span><span style="color:yellow"> iLoanNow.com</span></p></a>
                </div>
                <div class="collapse navbar-collapse" id="pageNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html" class="hvr-underline-reveal">Home</a></li>
                        <li><a href="quote.html" class="hvr-underline-reveal">Get Quote</a></li>
                        <li><a href="qualification.html" class="hvr-underline-reveal">Qualification</a></li>
                        <li><a href="loan-application.html" class="hvr-underline-reveal">Apply</a></li>
                        <li><a href="contact.html" class="hvr-underline-reveal">Contact</a></li>
                    </ul>
                </div>
              </div>
         </div>
    </nav>

    <div class="container" style="margin-top:20px; margin-bottom:80px;">
        <h1 class="form-section-title heading-bold heading-style4" style="margin-bottom:30px;">Apply for Loan</h1>
        <div class="row">
            <div class="col-md-2 list-group">
                <a href="#" class="list-group-item" rel="loandetails">Loan Details</a>
                <a href="#" class="list-group-item" rel="personalinfo">Personal Info</a>
                <a href="#" class="list-group-item" rel="employment">Employment</a>
                <a href="#" class="list-group-item" rel="assets">Assets</a>
                <!-- <a href="#" class="list-group-item" rel="agents">Agents</a> -->
                <a href="#" class="list-group-item" rel="additionalinfo">Additional Info</a>
            </div>

            <form class="col-md-8 jumbotron" method="GET" action="../loan-application.php">

                <!-- Loan Details -->
                <div id="loandetails">
                    <h3 class="form-section-title" id="test">New Loan Details</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="propertyvalue">Property Value <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                <input class="form-control" name="propertyvalue" id="propertyvalue" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="loanamount">Loan Amount <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                <input class="form-control" name="loanamount" id="loanamount" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="loanprogram">Loan Program <span class="red">*</span></label>
                            <select class="form-control" name="loanprogram" id="loanprogram">
                                <option>30-Year Fixed</option>
                                <option>25-Year Fixed</option>
                                <option>20-Year Fixed</option>
                                <option>15-Year Fixed</option>
                                <option>10-Year Fixed</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="impound">Do you want Impound Account?</label>
                            <select class="form-control" name="impound" id="impound">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <h3 class="form-section-title">Subject Property Details</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="occupancy">Subject Property Occupancy</label>
                            <select class="form-control" id="occupancy" name="occupancy">
                                <option>Owner Occupied</option>
                                <option>Second Home</option>
                                <option>Investment/Rental</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="propertytype">Property Type <span class="red">*</span></label>
                            <select class="form-control" id="propertytype" name="propertytype">
                                <option>Single Family Residence</option>
                                <option>Townhouse</option>
                                <option>Condominium</option>
                                <option>Duplex</option>
                                <option>Triplex</option>
                                <option>Fourplex</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="address">Subject Property Street <span class="red">*</span></label>
                            <input class="form-control" name="address" id="address" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="zipcode">Zip Code <span class="red">*</span></label>
                            <input class="form-control" name="zipcode" id="zipcode"  />
                        </div>
                    </div>
                    <!-- <div>
                        <button type="button" class="next-btn btn btn-success">Next <i class="fa fa-angle-double-right"></i></button>
                    </div> -->
                </div>

                <!-- Personal Info Form -->
                <div id="personalinfo">
                    <h3 class="form-section-title">Borrower Information</h3>
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <label for="firstname">First Name <span class="red">*</span></label>
                            <input class="form-control" name="firstname" id="firstname"  />
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="middlename">Middle</label>
                            <input class="form-control" name="middlename" id="middlename"  />
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="lastname">Last Name <span class="red">*</span></label>
                            <input class="form-control" name="lastname" id="lastname" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label style="display:block;">Gender <span class="red">*</span></label>
                            <select class="form-control" id="gender" name="gender" >
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="martialstatus">Martial Status <span class="red">*</span></label>
                            <select class="form-control" id="martialstatus" name="martialstatus" >
                                <option>Married</option>
                                <option>Single/ Divorced</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="citizenship">Citizenship <span class="red">*</span></label>
                            <select class="form-control" id="citizenship" name="citizenship">
                                <option>US Citizen</option>
                                <option value="Permanent Resident">Permanent Resident Alien (Green Card)</option>
                                <option>Non-Resident Alien</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="phone">Phone <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="phone" id="phone" placeholder="(xxx) xxx-xxxx" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="email">Email <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" name="email" id="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="dob">Date of Birth <span class="red">*</span></label>
                            <input class="form-control" name="dob" id="dob" placeholder="mm/dd/year" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="ss">Social Security Number <span class="red">*</span></label>
                            <input class="form-control" name="ss" id="ss" placeholder="xxx-xx-xxxx" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="bankruptcy">Has ______ in the past 7 years?</label>
                            <select class="form-control" id="bankruptcy" name="bankruptcy">
                                <option>No</option>
                                <option>Bankruptcy</option>
                                <option>Foreclosure</option>
                                <option>Shortsale</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="creditscore">FICO Credit Score <span class="red">*</span></label>
                            <select class="form-control" id="creditscore" name="creditscore">
                                <option value="800 or higher">800 or higher (Excellent)</option>
                                <option value="780 - 799">780 - 799 (Excellent)</option>
                                <option value="760 - 779">760 - 779 (Excellent)</option>
                                <option selected value="740 - 759">740 - 759 (Excellent)</option>
                                <option value="720 - 739">720 - 739 (Very Good)</option>
                                <option value="700 - 719">700 - 719 (Good)</option>
                                <option value="680 - 699">680 - 699 (Fair)</option>
                                <option value="660 - 679">660 - 679 (Fair)</option>
                                <option value="640 - 659">640 - 659 (Need Improvement)</option>
                                <option value="620 - 639">620 - 639 (Need Improvement)</option>
                            </select>
                        </div>
                    </div>
                    <h3 class="form-section-title">Borrower's Address</h3>
                    <div class="row">
                        <div class="col-md-9 form-group">
                            <label for="street">Street <span class="red">*</span></label>
                            <input class="form-control" name="brstreet" id="borrowerstreet" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="zipcode">Zip code <span class="red">*</span></label>
                            <input class="form-control" name="brzipcode" id="borrowerzipcode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="occupancy">Occupancy <span class="red">*</span></label>
                            <select class="form-control" id="broccupancy" name="broccupancy">
                                <option>Rent</option>
                                <option>Own</option>
                                <option>Living Rent Free</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="years">Years of Residence <span class="red">*</span></label>
                            <input class="form-control" name="bryears" id="bryears" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="months">Months of Residence <span class="red">*</span></label>
                            <input class="form-control" name="brmonths" id="brmonths" />
                        </div>
                    </div><hr />

                    <!-- Co-borrower Information -->
                    <div class="row" >
                        <div class="col-md-12">
                            <label for="btn-extra-options" class="text-primary">Is there a co-borrower? </label>
                            <label class="checkbox-inline"><input type="checkbox" value="yes" data-toggle="collapse" data-target="#extraoptions">Yes</label>
                        </div>
                    </div>

                    <div class="collapse" id="extraoptions">
                        <h3 class="form-section-title">Co-Borrower Information</h3>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                <label for="cofirstname">First Name</label>
                                <input class="form-control" name="cofirstname" id="cofirstname" />
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="comiddlename">Middle</label>
                                <input class="form-control" name="comiddlename" id="comiddlename" />
                            </div>
                            <div class="col-md-5 form-group">
                                <label for="colastname">Last Name</label>
                                <input class="form-control" name="colastname" id="colastname" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label style="display:block;">Gender</label>
                                <select class="form-control" id="cogender" name="cogender">
                                    <option></option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="comartialstatus">Martial Status</label>
                                <select class="form-control" id="comartialstatus" name="comartialstatus">
                                    <option></option>
                                    <option>Married</option>
                                    <option>Single/ Divorced</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="cocitizenship">Citizenship</label>
                                <select class="form-control" id="cocitizenship" name="cocitizenship">
                                    <option></option>
                                    <option>US Citizen</option>
                                    <option value="Permanent Resident">Permanent Resident Alien (Green Card)</option>
                                    <option>Non-Resident Alien</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="cophone">Phone</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input class="form-control" name="cophone" id="cophone" placeholder="(xxx) xxx-xxxx" value=""/>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="coemail">Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    <input class="form-control" name="coemail" id="coemail" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="codob">Date of Birth</label>
                                <input class="form-control" name="codob" id="codob" placeholder="mm/dd/year"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="coss">Social Security Number</label>
                                <input class="form-control" name="coss" id="coss" placeholder="xxx-xx-xxxx"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="cobankruptcy">Has ______ in the past 7 years?</label>
                                <select class="form-control" id="cobankruptcy" name="cobankruptcy">
                                    <option></option>
                                    <option>Bankruptcy</option>
                                    <option>Foreclosure</option>
                                    <option>Shortsale</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="cocreditscore">FICO Credit Score</label>
                                <select class="form-control" id="cocreditscore" name="cocreditscore">
                                    <option></option>
                                    <option value="800 or higher">800 or higher (Excellent)</option>
                                    <option value="780 - 799">780 - 799 (Excellent)</option>
                                    <option value="760 - 779">760 - 779 (Excellent)</option>
                                    <option value="740 - 759">740 - 759 (Excellent)</option>
                                    <option value="720 - 739">720 - 739 (Very Good)</option>
                                    <option value="700 - 719">700 - 719 (Good)</option>
                                    <option value="680 - 699">680 - 699 (Fair)</option>
                                    <option value="660 - 679">660 - 679 (Fair)</option>
                                    <option value="640 - 659">640 - 659 (Need Improvement)</option>
                                    <option value="620 - 639">620 - 639 (Need Improvement)</option>
                                </select>
                            </div>
                        </div>
                        <h3 class="form-section-title">Co-Borrower's Address</h3>
                        <div class="row">
                            <div class="col-md-9 form-group">
                                <label for="costreet">Street</label>
                                <input class="form-control" name="cobrstreet" id="coborrowerstreet" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="cozipcode">Zip code</label>
                                <input class="form-control" name="cobrzipcode" id="coborrowerzipcode" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="cooccupancy">Occupancy</label>
                                <select class="form-control" id="cobroccupancy" name="cobroccupancy">
                                    <option></option>
                                    <option>Rent</option>
                                    <option>Own</option>
                                    <option>Living Rent Free</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="coyears">Years of Residence</label>
                                <input class="form-control" name="cobryears" id="cobryears" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="comonths">Months of Residence</label>
                                <input class="form-control" name="cobrmonths" id="cobrmonths" />
                            </div>
                        </div>
                        <!-- <div>
                            <button type="button" class="next-btn btn btn-success">Next <i class="fa fa-angle-double-right"></i></button>
                        </div> -->
                    </div>
                </div>

                <!-- Employment Form -->
                <div id="employment">
                    <h3 class="form-section-title">Employment</h3>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="employment">Employment Status <span class="red">*</span></label>
                            <select  class="form-control" id="employment" name="employment">
                                <option>Employed</option>
                                <option>Unemployed</option>
                                <option>Self-Employed</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="employername">Employer Name <span class="red">*</span></label>
                            <input class="form-control" id="employername" name="employername"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="position">Position <span class="red">*</span></label>
                            <input class="form-control" id="position" name="position"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label for="employerstreet">Street <span class="red">*</span></label>
                            <input class="form-control" id="employerstreet" name="employerstreet" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="employerzipcode">Zip code</label>
                            <input class="form-control" id="employerzipcode" name="employerzipcode"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="employerphone">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="employerphone" id="employerphone" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="startdate">Start Date <span class="red">*</span></label>
                            <input class="form-control" name="startdate" id="startdate" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="pretaxincome">Monthly Pre-tax Income <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input class="form-control" name="pretaxincome" id="pretaxincome" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="yearsinprofession">Years in Profession <span class="red">*</span></label>
                            <input class="form-control" name="yearsinprofession" id="yearsinprofession" />
                        </div>
                    </div>

                    <!-- Past Employer -->
                    <h3 class="form-section-title">Past Employer</h3>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="employment2">Employment Status</label>
                            <select  class="form-control" id="employment2" name="employment2">
                                <option></option>
                                <option>Employed</option>
                                <option>Unemployed</option>
                                <option>Self-Employed</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="employername2">Employer Name</label>
                            <input class="form-control" id="employername2" name="employername2"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="position2">Position</label>
                            <input class="form-control" id="position2" name="position2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label for="employerstreet2">Street</label>
                            <input class="form-control" id="employerstreet2" name="employerstreet2" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="employerzipcode2">Zip code</label>
                            <input class="form-control" id="employerzipcode2" name="employerzipcode2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="employerphone2">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="employerphone2" id="employerphone2" />
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="startdate2">Start Date <span class="red">*</span></label>
                            <input class="form-control" name="startdate2" id="startdate2" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="enddate2">End Date <span class="red">*</span></label>
                            <input class="form-control" name="enddate2" id="enddate2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="pretaxincome2">Monthly Pre-tax Income <span class="red">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input class="form-control" name="pretaxincome2" id="pretaxincome2" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="yearsinprofession2">Years in Profession <span class="red">*</span></label>
                            <input class="form-control" name="yearsinprofession2" id="yearsinprofession2" />
                        </div>
                    </div>
                    <!-- <div>
                        <button type="button" class="next-btn btn btn-success">Next <i class="fa fa-angle-double-right"></i></button>
                    </div> -->
                </div>

                <!-- Real Estate and Assets -->
                <div id="assets">
                    <h3 class="form-section-title">Assets</h3>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="assettype1">Asset Type <span class="red">*</span></label>
                            <select class="form-control" name="assettype1" id="assettype1">
                                <option></option>
                                <option>Checking Account</option>
                                <option>Saving Account</option>
                                <option>Other Liquid Asset</option>
                                <option>Other Non-Liquid Asset</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="nameofasset1">Name of Institution <span class="red">*</span></label>
                            <input class="form-control" name="nameofasset1" id="nameofasset1" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="asset1balance">Approximate Balance <span class="red">*</span></label>
                            <input class="form-control" name="asset1balance" id="asset1balance" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="assettype2">Asset Type <span class="red">*</span></label>
                            <select class="form-control" name="assettype2" id="assettype2">
                                <option></option>
                                <option>Checking Account</option>
                                <option>Saving Account</option>
                                <option>Other Liquid Asset</option>
                                <option>Other Non-Liquid Asset</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="nameofasset2">Name of Institution <span class="red">*</span></label>
                            <input class="form-control" name="nameofasset2" id="nameofasset2" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="asset2balance">Approximate Balance <span class="red">*</span></label>
                            <input class="form-control" name="asset2balance" id="asset2balance" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="assettype3">Asset Type</label>
                            <select class="form-control" name="assettype3" id="assettype3">
                                <option></option>
                                <option>Checking Account</option>
                                <option>Saving Account</option>
                                <option>Other Liquid Asset</option>
                                <option>Other Non-Liquid Asset</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="nameofasset3">Name of Institution</label>
                            <input class="form-control" name="nameofasset3" id="nameofasset3" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="asset3balance">Approximate Balance</label>
                            <input class="form-control" name="asset3balance" id="asset3balance" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="assettype4">Asset Type</label>
                            <select class="form-control" name="assettype4" id="assettype4">
                                <option></option>
                                <option>Checking Account</option>
                                <option>Saving Account</option>
                                <option>Other Liquid Asset</option>
                                <option>Other Non-Liquid Asset</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="nameofasset4">Name of Institution</label>
                            <input class="form-control" name="nameofasset4" id="nameofasset4" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="asset4balance">Approximate Balance</label>
                            <input class="form-control" name="asset4balance" id="asset4balance" />
                        </div>
                    </div>
                </div>

                <!-- Escrow and Agents Section -->
                <!-- <div id="agents">
                    <h3 class="form-section-title">Escrow Officer</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="escrowname">Name</label>
                            <input class="form-control" name="escrowname" id="escrowname" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="escrowcompany">Company Name</label>
                            <input class="form-control" name="escrowcompany" id="escrowcompany" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="escrowphone">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="escrowphone" id="escrowphone" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="escrowemail">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" name="escrowemail" id="escrowemail" />
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section-title">Buyer Agent</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="buyeragentname">Name</label>
                            <input class="form-control" name="buyeragentname" id="buyeragentname" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="buyeragentcompany">Company Name</label>
                            <input class="form-control" name="buyeragentcompany" id="buyeragentcompany" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="buyeragentphone">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="buyeragentphone" id="buyeragentphone" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="buyeragentemail">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" name="buyeragentemail" id="buyeragentemail" />
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section-title">Seller Agent</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="selleragentname">Name</label>
                            <input class="form-control" name="selleragentname" id="selleragentname" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="selleragentcompany">Company Name</label>
                            <input class="form-control" name="selleragentcompany" id="selleragentcompany" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="selleragentphone">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input class="form-control" name="selleragentphone" id="selleragentphone" />
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="selleragentemail">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" name="selleragentemail" id="selleragentemail" />
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="additionalinfo">
                    <h3 class="form-section-title">Additional Information</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                I hereby authorize TD Lending Inc. to order a consumer credit report and verify other credit information, including past and present mortgage and landlord references. It is understood that by checking yes, this will serve as my written authorization for you to pull my credit for mortgage purposes.
                            </p>
                            <div class="form-group">
                                <label for="response">Your Response <span class="red">*</span></label>
                                <select class="form-control" id="response" name="response">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="comment">Messages to TD Lending Inc.</label>
                            <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" name="submit" class="next-btn btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-2">
                <i class="fa fa-question-circle"></i>
                <p style="color:darkred; font-weight: 600">If we cannot lock the rate you want. You do not have to pay or lose anything.<br />
                Please contact us if you have any question.</p>
            </div>
        </div>
    </div>

    <!-- Contact section -->
   <div class="jumbotron" id="contactinfo">
       <div class="row">
           <div class="col-md-3">
               <h4>Contact Us</h4>
               <p class="contact-info">
                    <i class="fa fa-phone"> Phone: (714) 222-2229</i><br />
                    <i class="fa fa-phone"> Phone: (714) 890-9000</i><br />
                    <i class="fa fa-fax"> Fax: (714) 895-2220</i> <br />
                    <i class="fa fa-envelope-o"> thomas.dao@tdlendinginc.com</i>
               </p>
           </div>
           <div class="col-md-3">
               <h4>Locations</h4>
               <p>
                   TD Lending Inc.<br />
                   A Division of Southland Mortgage Group<br />
                   13833 Beach Boulevard,
                    Westminster, CA 92683
               </p>
           </div>
           <div class="col-md-3">
               <h4>About Us</h4>
               <p>
                   <strong>CalBRE #</strong> 00958467 | <strong>NMLS #</strong> 329329
               </p>
               <p>
                   iLoanNow.com is your first choice for your real estate needs,
                   whether you're making your first home purchase or refinancing an
                   existing mortgage. We offer the best mortgage solutions for real
                   estate investors. Grow your real estate portfolio with us. Fast,
                   simple process. Competitive rates.
               </p>
           </div>
           <div class="col-md-3">
               <h4>Go to</h4>
               <p id="goto">
                   <a href="index.html">Home</a>
                   <a href="templates/quote.html">Get Quote</a>
                   <a href="templates/qualification.html">Qualification</a>
                   <a href="templates/loan-application.html">Apply</a>
                   <a href="templates/contact.html">Contact</a>
               </p>
           </div>
       </div>
   </div>
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-md-6 copyright-alignment">
                   Copyright <i class="fa fa-copyright"></i> iLoanNow.com
               </div>
               <div class="col-md-6 text-alignment social-icons">
                   <a href="https://www.facebook.com/SuperiorREgroup/" target="_blank" title="www.facebook.com/SuperiorREgroup" style="text-decoration:none">
                       <i class="fa fa-facebook-square fa-2x" style="color:#3b5998"></i>
                   </a>
                   <a href="https://www.youtube.com/watch?v=H_B2raO20wE" target="_blank" style="text-decoration:none">
                       <i class="fa fa-youtube-square fa-2x" style="color:red"></i>
                   </a>
                   <a href="http://www.yelp.com/biz/superior-real-estate-group-westminster" target="_blank" style="text-decoration:none">
                       <i class="fa fa-yelp fa-2x" style="color:red;"></i>
                   </a>
                   <a href="#" target="_blank" style="text-decoration:none">
                       <i class="fa fa-twitter-square fa-2x" style="color:skyblue"></i>
                   </a>
                   <a href="mailto:thomas_dao@yahoo.com" target="_blank" style="text-decoration:none">
                       <i class="fa fa-google-plus-square fa-2x" style="color:red"></i>
                   </a>
                   <a href="#" target="_blank">
                       <i class="fa fa-linkedin-square fa-2x" style="color:#3b5998" style="text-decoration:none"></i>
                   </a>
               </div>
           </div>
       </div>
   </footer>
    <script src="../js/format.js"></script>
    <!-- validate.js -->
    <script src="../js/validate.min.js"></script>
    <script src="../js/validateFunctions.js"></script>
    <!-- Mask.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script>
        $(document).ready(function() {
            formatInputs();
            validateInputs();
            // Show the form when clicked and hide other forms
            $('.list-group-item').on('click', function() {
                var target = $(this).attr('rel');
                $("#"+target).show().siblings("div").hide();
            });
        });
    </script>
</body>
</html>
